html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(blue, rgb(155, 2, 175))
}

#main {
    background-color: rgb(255, 230, 0);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
}

#eyes {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.eye {
    position: relative;
    top: 30px;
    width: 40%;
    height: 100%;
    border-top: 10px solid black;
    border-radius: 50%;
}

#mouth {
    position: absolute;
    left: 20%;
    top: 56%;
    border: thin solid black;
    border-radius: 50% 50% 50% 50% / 10% 10% 100% 100%;
    width: 60%;
    height: 26%;
    background-color: rgb(51, 0, 0);
}

.teeth {
    background-color: white;
    border-radius: 50% 50% 50% 50% / 50% 50% 100% 100%; 
    width: 100%;
    height: 20%;
}

.tongue {
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: rgb(230, 0, 0);
    border-radius: 50% / 20% 20% 100% 100%;
    width: 40%;
    height: 20%;
}

#light {
    top: -25%;
    left: -10%;
    width: 110%;
    height: 125%;
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 65%);
    opacity: 35%;
}